body {
    width: 100vw;
    height: 100vh;
}

#first-field {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

#second-field {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.clipboard {
    cursor: pointer;
}